/* Styling for the digital clock */

.clock-container {width: 500px; overflow: hidden; background:#68838B}

.clock {width:500px; margin:0 auto; padding:0px; border:1px none #333; color:#fff; }

.clock #Date { font-family:'css3clock/BebasNeueRegular', Arial, Helvetica, sans-serif; font-size:36px; text-align:center; text-shadow:0 0 5px #00c6ff; }

.clock ul { width:400px; margin:0 auto; padding:0px; list-style:none; text-align:center; }
.clock ul li { display:inline; font-size:2em; text-align:center; font-family:'css3clock/BebasNeueRegular', Arial, Helvetica, sans-serif; text-shadow:0 0 5px #00c6ff; }

#point { position:relative; -moz-animation:mymove 1s ease infinite; -webkit-animation:mymove 1s ease infinite; padding-left:10px; padding-right:10px; }

@-webkit-keyframes mymove 
{
0% {opacity:1.0; text-shadow:0 0 20px #00c6ff;}
50% {opacity:0; text-shadow:none; }
100% {opacity:1.0; text-shadow:0 0 20px #00c6ff; }	
}


@-moz-keyframes mymove 
{
0% {opacity:1.0; text-shadow:0 0 20px #00c6ff;}
50% {opacity:0; text-shadow:none; }
100% {opacity:1.0; text-shadow:0 0 20px #00c6ff; }	
}